<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
   <h1>This is Home page</h1> 
   <h1>Weather</h1>
   <form id='weather_form'>
   <input type="text" name="weather_input" id="wi01" placeholder="Location">
   <button id='btn'>Send</button>
   </form>
   <h1>Location: <span id = 'location'></span></h1>
   <h1>Temperature: <span id="temperature"></span></h1>
    <script src="/js/app.js"></script>
</body>
</html>